@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


*{
    margin: 0;
}

body{
    background: rgb(255, 200, 250);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block-1{
    background: #a5a5a5;
    width: 100%;
    font-family: 'Tinos';
    padding: 10px;
    margin-bottom: 33px;
}

.block-2{
    font-family: 'oswald';
    background-color: bisque;
    width: 50em;
    margin-bottom: 33px;
    padding: 6px;
}

.block-3{
    font-family: 'Times New Roman';
    background-color: blueviolet;
    width: 450px;
    margin-bottom: 33px;
    padding: 3px;
}